html {
    scroll-behavior: smooth;
  }

.header{
    background-color: var(--light-blue);
}

.header .container{
    height: 95px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
}

.header__logo svg{
    width: 127px;
    height: 16px;
}

.header__navigation ul{
    display: flex;
    flex-direction: row;
    gap: 30px;
    color: var(--blue);
    font-size: 18px;
    line-height: 27px;
}