<footer class="footer">
    <div class="container">
        <div class="footer__left">
            <svg><use href="./images/icons.svg#icon-logo"></use></svg>
            <p class="footer__left__address">Obolonsky Prospect, 14, Kyiv</p>
            <p class="footer__left__program">Daily 10:00-21:00</p>
        </div>
        <div class="footer__right">
            <ul>
                <li>
                    <a href="#about-us">About us</a>
                </li>
                <li>
                    <a href="#our-products">Our products</a>
                </li>
                <li>
                    <a href="#prices">Prices</a>
                </li>
                <li>
                    <a href="#bestsellers">Bestsellers</a>
                </li>
                <li>
                    <a href="#reviews">Reviews</a>
                </li>
            </ul>
            <div class="footer__contact">
                <div class="footer__contact__phone">
                    <a href="callto:+380669384758">+380669384758</a>
                    <a href="callto:+380679384758">+380679384758</a>
                </div>
                <div class="footer__contact__email">
                    <a href="mailto:minimal.furniture@gmail.com">minimal.furniture@gmail.com</a>
                </div>
            </div>
        </div>
        <div class="footer__socials">
            <a href="#"><svg><use href="./images/icons.svg#icon-facebook"></use></svg></a>
            <a href="#"><svg><use href="./images/icons.svg#icon-instagram"></use></svg></a>
            <a href="#"><svg><use href="./images/icons.svg#icon-youtube"></use></svg></a>
        </div>
    </div>
    <p class="footer__agreement">By using this website, you agree to the <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a></p>

</footer>