<header class="header">
    <div class="container">
        <div class="header__logo">
            <a href="index.html"><img src="./images/logo.jpg" alt="Logo" width="127"/></a>
        </div>
        <nav class="header__navigation">
            <ul>
                <li>
                    <a href="#about-us">About us</a>
                </li>
                <li>
                    <a href="#our-products">Our products</a>
                </li>
                <li>
                    <a href="#prices">Prices</a>
                </li>
                <li>
                    <a href="#bestsellers">Bestsellers</a>
                </li>
                <li>
                    <a href="#reviews">Reviews</a>
                </li>
                <li>
                    <a href="#contacts">Contacts</a>
                </li>
            </ul>
        </nav>
    </div>
</header>