

    <!--Hero Section-->

    <section class="hero-section">
        <h1 class="hero-section__title">Modern and minimalist <br/> furniture for you</h1>

        <div class="hero-section__images">
           <img class="img1" src="./images/hero.img1.jpg" alt="chair"/>
           <img class="img2" src="./images/hero.img2.jpg" alt="sofa"/>
           <img class="img3" src="./images/hero.img3.jpg" alt="bookcase"/>
        </div>


       <div class="hero-section__div">
        <p class="hero-section__text">Add a touch of elegance to your space <br/> with handcrafted furniture pieces</p>

        <button class="hero-section__btn" type="button">Subscribe</button>

       </div>

    </section>
    
    <!--About us-->

    <section class="about-us">
        <div class="about-us__section">
        <h4 class="about-us__section-title4">About us</h4>
        <h2 class="about-us__section-title2">Our craftsmanship: creating unique handmade furniture</h2>
        <p class="about-us__section-text">Discover the inspiration behind our modern and minimalist designs, and see how we bring them to life through our skilled craftsmanship.</p>
       
       <ul class="statistics__list">
        <li class="statistics__item">
            <p class="statistics__value">
               5+
            <p class="statistics__description">Years of experience creating handcrafted furniture</p>
        </li>
        <li class="statistics__item">
            <p class="statistics__value">
               100%
            </p>
            <p class="statistics__description">Sustainably sourced materials used in all of our furniture </p>
        </li>
        <li class="statistics__item">
            <p class="statistics__value">
               500+
            </p>
            <p class="statistics__description">Unique furniture designs crafted by our skilled artisans</p>
        </li>
        </ul>
        </div>

        <div class="about-us__img">
            <img src="./images/about.img4.jpg" alt="sofa"/>
        </div>
    </section>
