<section class="section">
  <!-- Prices sectino  -->

  <div id="prices">
    <ul class="services__list">
      <li class="services__item">
        <p class="services__description">
          CHAIRS <span class="services__prices">from 200$</span>
        </p>
      </li>
      <li class="services__item">
        <p class="services__description">
          TABLES <span class="services__prices">from 250$</span>
        </p>
      </li>
      <li class="services__item">
        <p class="services__description">
          DRESSERS <span class="services__prices">from 300$</span>
        </p>
      </li>
      <li class="services__item">
        <p class="services__description">
          SOFAS <span class="services__prices">from 500$</span>
        </p>
      </li>
    </ul>
  </div>
</section>
<!-- Our products section  -->
<section id="our-products" class="product">
  <h2 class="product__title">OUR PRODUCTS</h2>
  <div class="product__container">
    <div class="product__item">
      <div class="product__img">
        <img src="/src/images/Prices-product1.jpg " alt="sofa" />
      </div>
      <p class="product__text">Handcrafted minimalist seating</p>
    </div>

    <div class="product__item">
      <div class="product__img">
        <img src="/src/images/Prices-product2.jpg " alt="sofa" />
      </div>
      <p class="product__text">Handcrafted minimalist seating</p>
    </div>

    <div class="product__item">
      <div class="product__img">
        <img
          src="/src/images/Prices-product3.jpg "
          alt="Sleek and simple tables"
        />
      </div>
      <p class="product__text">Sleek and simple tables</p>
    </div>

    <div class="product__item">
      <div class="product__img">
        <img src="/src/images/Prices-product4.jpg " alt="Minimalist seating" />
      </div>
      <p class="product__text">Minimalist seating for every space</p>
    </div>
  </div>
</section>

<!-- bestseller section-->

<section id="bestsellers" class="bestseller">
  <h2 class="bestseller__title">BESTSELLERS</h2>
  <div class="bestseller__container">
    <div class="bestseller__item">
      <div class="bestseller__img">
        <img src="/src/images/bestseller1.jpg" alt="pat" />
      </div>
      <p class="bestseller__text">The modern platform bed</p>
      <p class="bestseller__price">750$</p>
    </div>

    <div class="bestseller__card">
      <div class="bestseller__item">
        <div class="bestseller__img">
          <img src="/src/images/bestseller2.jpg" alt="pat" />
        </div>
        <p class="bestseller__text">The Cozy Lounge Chair</p>
        <p class="bestseller__price">230$</p>
      </div>

      <div class="bestseller__item">
        <div class="bestseller__img">
          <img src="/src/images/bestseller4.jpg" alt="pat" />
        </div>
        <p class="bestseller__text">The sleek stand</p>
        <p class="bestseller__price">300$</p>
      </div>
    </div>

    <div class="bestseller__card">
      <div class="bestseller__item">
        <div class="bestseller__img">
          <img src="/src/images/bestseller3.jpg" alt="pat" />
        </div>
        <p class="bestseller__text">The industrial accent chair</p>
        <p class="bestseller__price">250$</p>
      </div>

      <div class="bestseller__item">
        <div class="bestseller__img">
          <img src="/src/images/bestseller5.jpg" alt="pat" />
        </div>
        <p class="bestseller__text">The minimalist sofa</p>
        <p class="bestseller__price">650$</p>
      </div>
    </div>
  </div>
</section>
