<!--Clients reviews section-->
<section class="container reviews-section">
  <h2 class="title-section__review">CLIENTS REVIEWS</h2>
  <div class="clients-section">
    <div class="review-name reviews__tablet">
      <div class="review-img">
        <img src="./images/Ellipse1.jpg" alt="Alexandra Dream" />
      </div>
      <div>
        <h4 class="review-clients-name">ALEXANDRA DREAM</h4>
        <p>1 week ago</p>
      </div>
      <p class="review-paraghraph">
        I was blown away by the quality and <br />craftsmanship of the furniture
        I received from <br />this company. Each piece was unique and <br />
        beautifully designed, and you can tell that a lot <br />of thought and
        care goes into every detail.
      </p>
    </div>
    <div class="review-name reviews reviews__tablet">
      <div class="review-img">
        <img src="./images/Ellipse2.jpg" alt="James Williams" />
      </div>
      <div>
        <h4 class="review-clients-name">JAMES WILLIAMS</h4>
        <p>A week ago</p>
      </div>
      <p class="review-paraghraph">
        The "Minimal" furniture set is a fantastic <br />addition to my home. It
        boasts a minimalist<br />
        design, enhancing the feel and look of my <br />living space. The sturdy
        construction is <br />worth noting too, which speaks volumes<br />
        about its durability.
      </p>
    </div>
    <div class="review-name reviews reviews3">
      <div class="review-img">
        <img src="./images/Ellipse3.jpg" alt="Emily Watson" />
      </div>
      <div>
        <h4 class="review-clients-name">EMILY WATSON</h4>
        <p>3 week ago</p>
      </div>
      <p class="review-paraghraph">
        The "Minimal" furniture set has far exceeded<br />
        my expectations. The sleek design combined <br />with the high-quality
        materials have not only <br />added an exceptional aesthetic to my space
        <br />but also offered an uncompromising <br />standard of comfort.
      </p>
    </div>
  </div>
</section>
<!--Subscription section-->
<section class="container subscription-section">
  <div class="subscription">
    <h2 class="title-section">NEWSLETTER</h2>
    <p class="paragraph1">
      Every week we will send you new designs and information about<br />
      sales.
    </p>
    <p class="paragraph2">
      Every week we will send you new designs and<br />
      information about sales.
    </p>
    <form class="form-subscription1">
      <label
        ><input
          type="text"
          name="username"
          class="form__subscription"
          placeholder="Name"
        />
      </label>
      <label
        ><input
          type="email"
          name="username"
          class="form__subscription"
          placeholder="E-mail"
      /></label>
      <label class="checkbox__position"
        ><input
          type="checkbox"
          name="agree"
          value="agree"
          class="form__checked"
        /><span class="replace-checkbox form-checkbox__position"
          ><svg width="12" height="12px">
            <use href="./images/icons.svg#icon-Vector-5"></use></svg></span
        >Agree to subscribe to the newsletter
      </label>
      <button type="submit" class="form__button">Send</button>
    </form>
  </div>
  <img src="./images/product7.jpg" alt="product7" class="product7-img" />
</section>
